<div class="container-fluid foot py-3 mt-3">
    <div class="container">
        <div class="foot1">
            <h1>Contactanos</h1>
            <div class="row">
                <div class="col-1"><i class="fas fa-2x fa-phone-square-alt"></i></div>
                <div class="col-5 align-self-start"><h2 class="text-left">444-4444</h2></div>
            </div>
        </div>
        <div class="foot2">
            <div class="row">
                <div class="col-2 offset-3"><i class="fab fa-2x fa-facebook"></i></div>
                <div class="col-2"><i class="fab fa-2x fa-twitter-square"></i></div>
                <div class="col-2"><i class="fab fa-2x fa-instagram"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="foot3 py-2">
    <div class="container">
        <div class="text-center">
            <h4><i class="far fa-copyright"> CARNES ARGENTINAS 2020 | Todos los derechos</i></h4>
        </div>
    </div>
</div>
