<div class="container">

    <div class="row mt-4 border shadow pt-2 pb-0">
        <div class="col-3 col-md-2">
            <img src="../../../assets/img/carne2.jpg" alt="">
        </div>
        <div class="col-9 col-md-2">
            <blockquote class="blockquote pb-1">
                <p class="mb-0">Asado</p>
                <footer class="blockquote-footer pb-1">Precio por Kg<cite title="Source Title"> $420</cite></footer>
              </blockquote>
        </div>

        <div class="col-7 col-md-4 offset-1 offset-md-3 pb-0"> 
            <p class="mb-0">
                <mat-form-field appearance="outline">
                  <mat-label id="precio">$1240</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)]="total">
                  <span matPrefix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </span>
                  <span matSuffix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </span>
                </mat-form-field>
              </p>
        </div>
        <div class="col-1 col-md-1 pt-2">
            <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </div>

    <div class="row mt-4 border shadow pt-2 pb-0">
        <div class="col-3 col-md-2">
            <img src="../../../assets/img/carne2.jpg" alt="">
        </div>
        <div class="col-9 col-md-2">
            <blockquote class="blockquote pb-1">
                <p class="mb-0">Asado</p>
                <footer class="blockquote-footer pb-1">Precio por Kg<cite title="Source Title"> $420</cite></footer>
              </blockquote>
        </div>

        <div class="col-7 col-md-4 offset-1 offset-md-3 pb-0"> 
            <p class="mb-0">
                <mat-form-field appearance="outline">
                  <mat-label id="precio">$1240</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)]="total">
                  <span matPrefix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </span>
                  <span matSuffix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </span>
                </mat-form-field>
              </p>
        </div>
        <div class="col-1 col-md-1 pt-2">
            <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </div>

    <div class="row mt-4 border shadow pt-2 pb-0">
        <div class="col-3 col-md-2">
            <img src="../../../assets/img/carne2.jpg" alt="">
        </div>
        <div class="col-9 col-md-2">
            <blockquote class="blockquote pb-1">
                <p class="mb-0">Asado</p>
                <footer class="blockquote-footer pb-1">Precio por Kg<cite title="Source Title"> $420</cite></footer>
              </blockquote>
        </div>

        <div class="col-7 col-md-4 offset-1 offset-md-3 pb-0"> 
            <p class="mb-0">
                <mat-form-field appearance="outline">
                  <mat-label id="precio">$1240</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)]="total">
                  <span matPrefix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </span>
                  <span matSuffix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </span>
                </mat-form-field>
              </p>
        </div>
        <div class="col-1 col-md-1 pt-2">
            <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </div>

    <div class="row mt-4 border shadow pt-2 pb-0">
        <div class="col-3 col-md-2">
            <img src="../../../assets/img/carne2.jpg" alt="">
        </div>
        <div class="col-9 col-md-2">
            <blockquote class="blockquote pb-1">
                <p class="mb-0">Asado</p>
                <footer class="blockquote-footer pb-1">Precio por Kg<cite title="Source Title"> $420</cite></footer>
              </blockquote>
        </div>

        <div class="col-7 col-md-4 offset-1 offset-md-3 pb-0"> 
            <p class="mb-0">
                <mat-form-field appearance="outline">
                  <mat-label id="precio">$1240</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)]="total">
                  <span matPrefix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </span>
                  <span matSuffix>
                    <button mat-icon-button color="accent" >
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                  </span>
                </mat-form-field>
              </p>
        </div>
        <div class="col-1 col-md-1 pt-2">
            <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </div>

</div>
