
<!-- <i class="fas fa-lg fa-store-alt pl-3">  Nuestro Local</i> -->
<div class="local mt-4 pt-4">
    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" class="ml-3">
        <mat-icon>storefront</mat-icon>
    </button>
    Nuestro Local
</div>
<div class="ml-4 mt-2">
    <p>Av. Pres. Hipólito Yrrigoyen 10699</p>
    <p>Temperley</p>
</div>
<div mat-card-image class="p-2 m-2">
    <iframe src="https://www.google.com/maps/d/embed?mid=1rsvZJ81rZKyIxOtqj3Zcgw6DSsbJJyRg&hl=es-419"  height="400" class="mapa"></iframe> -->
</div>
