<app-navbar></app-navbar>
<app-home></app-home>
<div>
  <h1>Prueba de materia</h1>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

  <div class="row ">
    
      <div class="col-1"><i class="material-icons">sentiment_satisfied_alt</i></div>
      <div class="col-5 pl-4">

          <p class="text-capitalize font-weight-bold" (click)="openDialog('sin cola')">sin hacer cola</p>

      </div>


    <div class="col-1"><i class="material-icons">how_to_reg</i></div>
    <div class="col-5 pl-4 align-items-center">
      <button  (click)="openDialog('Sin Registrarse')">
        <p class="text-capitalize font-weight-bold">sin Registrarse</p>
      </button>
    </div>
  </div>
  <button mat-raised-button (click)="openDialog('maxi')">Pick one</button>
</div>
