<div class="container mt-4">
    <div>
        <h1 class="titulo">Ofertas Imperdibles!</h1>
    </div>
    <div class="card-deck">
        <div class="card">
          <img src="assets/img/carne2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">Churrasco de Cuadril</h1>
            <div class="row">
                <div class="col-5 col align-self-end"><h2>$320 Kg</h2></div>
                <div class="col-6 col align-self-end"><h4 class="tachado">$450 Kg</h4></div>
            </div>
            <p class="card-text">Compra mínima 2Kg</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
                <button class="btn">COMPRAR</button>
            </small>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/carne3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">Milanesa de Nalga</h1>
            <div class="row">
                <div class="col-5 col align-self-end"><h2>$320 Kg</h2></div>
                <div class="col-6 col align-self-end"><h4 class="tachado">$450 Kg</h4></div>
            </div>
            <p class="card-text">Compra mínima 2Kg</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
                <button class="btn">COMPRAR</button>
            </small>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/carnepicada.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">Carne Picada</h1>
            <div class="row">
                <div class="col-5 col align-self-end"><h2>$320 Kg</h2></div>
                <div class="col-6 col align-self-end"><h4 class="tachado">$450 Kg</h4></div>
            </div>
            <p class="card-text">Compra mínima 2Kg</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
                <button class="btn">COMPRAR</button>
            </small>
          </div>
        </div>
      </div>
</div>
